---
import team from "../data/employees.json";
console.log(team);
---

<section>
  <article>
    <ul role="list">
      {
        team.map((person) => (
          <li>
            <img src={person.img} alt={person.name} />
            <h2>
              <a href={`employees/${person.slug}`}>{person.name}</a>
            </h2>
            <h4>{person.title}</h4>
            <p>{person.description}</p>
            <div class="social-links">
              {person.social_links.map((link) => (
                <a href={link.url} target="_blank" rel="noopener noreferrer">
                  {link.icon}
                </a>
              ))}
            </div>
          </li>
        ))
      }
    </ul>
  </article>
</section>

<style>
  section {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
    background-color: var(--bg-gray);

    > * {
      grid-column: content;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .social-links a {
      margin-right: 0.5rem;
      text-decoration: none;
    }
  }
</style>
